/* CSS declarations go here */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* csstricks best practice :)

/*body {
    background: red;
}*/

body {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow: auto;

}

#graphiql {
    height: 100vh;
}

ul {
    list-style: none;
}

.cookies-wrapper {
    position: fixed;
    z-index: 4000;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    display: table;
    background: rgba(0,0,0,.5);
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}
.cookies-wrapper.hide {display: none;}
.cookies-wrapper.dismiss {opacity: 0;}
.cookies-wrapper .cookies-message {
  margin: 0;
  padding: 15px 10px;
  display: table-cell;
  vertical-align: middle;
  font-size: 13px;
  font-family: sans-serif;
  color: white;
  text-align: left;
  width: 93%;
}
.cookies-wrapper .button-wrapper {
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  width: 6%;
  pointer-events: auto;
}
.cookies-wrapper .button-wrapper button {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  color: white;
  background: transparent;
  border-left: 1px rgba(0,0,0,.2) solid;
  cursor: pointer;
  outline: none;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
}
.cookies-wrapper .button-wrapper button:hover {
  background: rgba(0,0,0,.8);
}
@media (max-width: 800px) {
  .cookies-wrapper .cookies-message {width: 90%; font-size: 11px}
  .cookies-wrapper .button-wrapper{width: 10%}
}
@media (max-width: 400px) {
  .cookies-wrapper .cookies-message {width: 86%}
  .cookies-wrapper .button-wrapper{width: 13%}
}

.slider{
  display:block;
  position:relative;
  margin:auto;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  z-index: 0;
  overflow:hidden;  
}

.contenedor-img img {
  display: block;
  float: left;
}


.imagenes-slider {
  width: 400%;
}

.imagenes-slider img {
  width: 25%;
}

.contenedor-img {
  position: relative;
  left: 0;
  -moz-animation: autoSlider 15s infinite linear;
    -o-animation: autoSlider 15s infinite linear;
    -webkit-animation: autoSlider 15s infinite linear;
    animation: autoSlider 15s infinite linear;

    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

@-moz-keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}
.stepper-input{
    display: flex;
    display: -webkit-flex;
    color: $gray-medium;
    max-width: 120px;
    margin: 5% auto;
  }
.increment,
.decrement{
    height: 24px;
    width: 24px;
    border: 1px solid $gray-eighty;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 22px;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
.increment,
.decrement:hover{
    color: $primary-green;
    border-color: $primary-green;
}
.increment,
.decrement:active{
    color: $white;
    border-color: $primary-green;
    background: lighten($primary-green, 15%);
}

.quantity{
    height: 24px;
    width: 120px;
    text-align: center;
    margin: 0 12px;
    border-radius: 2px;
    border: 1px solid $gray-eighty;
  }
.quantity:focus{
  outline: none;
  border-color: $primary-green;
}

