/* CSS declarations go here */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
// csstricks best practice :)

body {
    background: red;
}

body {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow: auto;

    background-image: url(Aqua-Background4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#graphiql {
    height: 100vh;
}
